astroid==2.4.2
autopep8==1.5.4
awscli==1.18.153
boto==2.49.0
boto3==1.15.14
botocore==1.18.12
colorama==0.4.3
docutils==0.15.2
isort==5.5.1
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pyasn1==0.4.8
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
python-lambda-local==0.1.12
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
